<page>

	<div class="card">
		<div class="padding">
			<div class="title">
				<h1 class="text-center">{{"article" | translate | capitalize}}</h1>
			</div>

			<h2>{{article.title}}</h2>

			<div class="line-separator special"></div>

			<h4># {{article.category.title}}</h4>

			<p class="h3">{{article.sub_title}}</p>

			<div ng-repeat="paragraph in article.paragraphs">

				<div ng-show="{{paragraph.image_url == ''}}">
					<p ng-class="{'h3': {{paragraph.is_special}}}">
						{{paragraph.content}}
					</p>
				</div>

				<div ng-show="{{paragraph.image_url != ''}}"
					 class="item-image padding-vertical">
					<img src="{{paragraph.image_url}}">
					{{paragraph.content}}
				</div>

			</div>
		</div>

		<div class="padding" ng-show="article.references.length > 0">
			<h3>{{"related_articles" | translate | capitalize}}</h3>
			<lu>
				<li ng-repeat="reference in article.references">
					<a ui-sref="article({id: {{reference.article.id}}})">
						{{reference.article.title}}
					</a>
				</li>
			</lu>
		</div>

		<div class="padding" ng-show="article.sources.length > 0">
			<accordion class="card">
				<div class="item item-divider" ng-click="toggleAccordion()">
					<h1>{{"sources" | translate | capitalize}}</h1>
				</div>
				<div class="list" ng-show="isOpen">
					<div class="item list-item item-text-wrap" ng-repeat="source in article.sources">
						{{source}}
					</div>
				</div>
			</accordion>
		</div>
	</div>

</page>