<page>

    <div class="card padding">

        <div class="title">
            <h1>{{"all_articles" | translate | capitalize}}</h1>
        </div>

        <div ng-repeat="category in categories" class="padding">

            <accordion class="card">
                <div class="item item-divider" ng-click="toggleAccordion()">
                    <h1>{{category.title}}</h1>
                </div>

                <div class="list" ng-show="isOpen">
                    <a class="item"
                       ng-repeat="article in articles | filter:{category_id: category.id}"
                       ui-sref="article({id: {{article.id}}})"
                       nav-direction="forward">
                        {{article.title}}
                    </a>
                </div>
            </accordion>

        </div>

    </div>

</page>