<page hide-back-button="true" hide-menu-button="true">

	<div ng-controller="HabitCategoryCtrl" class="card text-center padding-top">
		<h1>
			{{"you_are_a" | translate | capitalize}}
			<b>{{getHabitCategoryTitle() | capitalize}}</b>
		</h1>
	</div>

	<div class="card">
		<div class="padding">
			{{"habits.info" | translate | capitalize}}
		</div>

		<div ng-include="'html/includes/habits.html'"></div>
	</div>

	<div class="card padding">
		<div class="button-bar">
			<button class="button button-positive" ng-click="onSaveClicked()">{{"save" | translate | capitalize}}</button>
			<button class="button button-assertive" ng-click="onCancelClicked()">{{"cancel" | translate | capitalize}}</button>
		</div>
	</div>

</page>