<page hide-back-button="true">

	<div ng-include src="'html/includes/daily-article.html'"></div>

	<div ng-include src="'html/includes/recipe-select.html'"></div>

	<div ng-include src="'html/includes/statistics.html'"></div>

	<div class="padding-horizontal button-bar">
		<a class="button button-assertive" href="#" ui-sref="settings">
			{{"settings" | translate | capitalize}}
		</a>
		<a class="button button-assertive" href="#" ng-click="onLogoutClicked()">
			{{"logout" | translate | capitalize}}
		</a>
	</div>

</page>