<ion-view class="padding" hide-back-button="true" hide-menu-button="true">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="has-header">
        <ion-slide ng-repeat="page in pages" prevent-drag class="padding">

                <h1 ng-show="{{page.show_title}}">{{page.title}}</h1>

                <p>{{page.content_text}}</p>

                <div ng-switch on="{{page.page_type == 'text_image'}}">
                    <div ng-switch-when="true">
                        <div class="padding-vertical">
                            <image class="cover" src="{{page.image_url}}" />
                        </div>
                    </div>
                </div>

                <div ng-switch on="{{page.page_type == 'text_startbutton'}}">
                    <div ng-switch-when="true">
                        <button class="button button-block button-positive" ng-click="start()">
                            {{"start_app" | translate | capitalize}}
                        </button>
                    </div>
                </div>

                <div ng-switch on="{{page.page_type == 'text_habits'}}">
                    <div ng-switch-when="true">
                        <div ng-include="'html/includes/habits.html'"></div>
                    </div>
                </div>

        </ion-slide>
    </ion-slide-box>
</ion-view>