<page hide-back-button="true" hide-menu-button="true">

    <div class="card padding">

        <h1 class="text-center">{{"login" | translate | capitalize}}</h1>

        <div class="line-separator"></div>

        <label class="padding assertive" ng-show="warning.must_show">{{warning.message}}</label>

        <label class="item item-input">
            <input type="email" placeholder="Email" ng-model="login_data.email">
        </label>

        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="login_data.password">
        </label>

        <div>
            <div class="button-bar">
                <button class="button button-block button-assertive" ng-click="onLoginClicked()">{{"login" | translate | capitalize}}</button>
                <button class="button button-block button-positive" ng-click="onRegisterClicked()">{{"register" | translate | capitalize}}</button>
            </div>
        </div>

        <div class="padding-top">
            <div class="line-separator special"></div>
        </div>
    </div>

</page>