<page>
    <div class="card padding">
        <div class="title">
            <h1 class="text-center">{{"all_recipes" | translate | capitalize}}</h1>
        </div>

        <div class="button button-block" ng-click="selectRandom()">{{"random_recipe" | translate | capitalize}}</div>

        <div class="padding-vertical">
            <div class="item item-divider">
                {{"favorites" | translate | capitalize}}
            </div>

            <div class="list">
                <recipe-item ng-repeat="recipe_data in recipes | filter:{is_favorite: true} | orderBy: 'recipe.difficulty'"></recipe-item>
            </div>
        </div>

        <div ng-repeat="category in categories" class="padding-vertical">
            <div class="item item-divider">
                {{category.title}}
            </div>
            <div class="list">
                <recipe-item ng-repeat="recipe_data in category.recipes | orderBy: 'recipe.difficulty'"></recipe-item>
            </div>
        </div>
    </div>
</page>