<page>

	<div class="card padding">

		<div class="title">
			<h1>{{"recipe" | translate | capitalize}}</h1>
		</div>

		<h3 class="large">{{recipe.title}}</h3>
		<h5>{{recipe.description}}</h5>

		<div class="item-image text-center padding-vertical">
			<img ng-src="{{recipe.image}}">
		</div>

		<div class="card" ng-show="recipe.status">
			<div class="item item-assertive">{{recipe.status | capitalize}}</div>
		</div>

		<div class="button-bar padding-bottom">
			<div class="button button-stable" ng-class="selectButton.class" ng-click="onSelectButtonClicked()">{{selectButton.text | capitalize}}</div>
			<div class="button button-stable" ng-class="favoriteButton.class" ng-click="onFavoriteButtonClicked()">{{favoriteButton.text | capitalize}}</div>
		</div>

		<div class="text-center">
			<div>{{"finished_in" | translate | capitalize}} {{recipe.duration.minutes}} {{"minutes" | translate}}</div>
			<div>{{"difficulty" | translate | capitalize}}: {{recipe.difficulty}}</div>
			<div>{{"price" | translate | capitalize}} &euro; {{recipe.getPrice(personCount) | number: 0}}</div>
		</div>

		<div class="item range">
			<i class="icon ion-person-stalker"></i>
			<input type="range" min="1" max="6" steps="5"  ng-model="personCount">
			<i>{{personCount}}</i>
		</div>

		<div class="line-separator special"></div>

		<h3>{{"ingredients" | translate | capitalize}}</h3>
		<ul>
			<li ng-repeat="supply in recipe.supplies | orderBy: 'supply.ingredient.title'">
				{{supply.getText(personCount)}}
			</li>
		</ul>

		<ul>
			<li ng-repeat="tip in recipe.tips" style="font-style: italic">
				{{"tip" | translate}}: {{tip}}
			</li>
		</ul>

		<div class="line-separator special flipped"></div>

		<h3>{{"instructions" | translate | capitalize}}</h3>

		<div class="padding" ng-show="recipe.requirements.length > 0">
			<b>{{"requirements" | translate | capitalize}}:</b>

			<ul>
				<li ng-repeat="requirement in recipe.requirements | orderBy: 'requirement.tool.text'">
					- {{requirement.tool.title | capitalize}}
				</li>
			</ul>
		</div>

		<p ng-repeat="step in recipe.steps" class="padding-horizontal">{{step}}</p>

		<div class="line-separator special"></div>

		<div class="button-bar">
			<div class="button button-stable" ng-class="selectButton.class" ng-click="onSelectButtonClicked()">{{selectButton.text | capitalize}}</div>
			<div class="button button-stable" ng-class="favoriteButton.class" ng-click="onFavoriteButtonClicked()">{{favoriteButton.text | capitalize}}</div>
		</div>

		<div class="line-separator special flipped"></div>

	</div>

</page>