<page>
    <div class="padding">
        <div class="button button-block button-assertive" ng-click="resetStatistics()">
            {{"reset_statistics.title" | translate | capitalize}}
        </div>
    </div>
</page>