<page>

    <div class="card">

        <div class="title">
            <h1>{{statistic.meta.title | capitalize}}</h1>
        </div>

        <div class="padding">
            <p>{{statistic.meta.info}}</p>
        </div>

        <div class="text-center padding">
            <h2>
                {{statistic.getUpdatedValue() | number:1}}
                {{statistic.meta.basic_unit}}
            </h2>
        </div>

        <div class="item item-avatar item-avatar-big item-icon-left">
            <img class="icon-image" ng-src="{{statistic.selected_unit.icon}}">
            <div>
                <b>
                    <pluralize count="statistic.selected_unit.getUpdatedValue()"
                                  none="statistic.selected_unit.title_zero"
                                  single="statistic.selected_unit.title_single"
                                  plural="statistic.selected_unit.title_plural"></pluralize>
                </b>
                {{statistic.meta.postfix}}

            </div>
            <progress-bar percentage="statistic.selected_unit.getUpdatedProgress()">
                {{statistic.selected_unit.getTimeLeft()}}
            </progress-bar>
        </div>

        <div class="padding">
            <div class="item item-stack" ng-class="unit == statistic.selected_unit ? 'selected' : ''"
                 ng-repeat="unit in statistic.units"
                 ng-click="selectUnit(unit)">
                <img class="icon-image" ng-src="{{unit.icon}}">
            </div>
        </div>
    </div>

</page>
