<div class="card padding" ng-controller="DailyArticleCtrl">

    <div class="title">
        <h1>{{"daily_article" | translate | capitalize}}</h1>
    </div>

    <h2>"{{article.title}}"</h2>

    <div class="line-separator special"></div>

    <div class="button-bar">
        <div class="button button-clear" ng-click="readArticle()">{{"read_article" | translate | capitalize}}</div>
        <div class="button button-clear" ui-sref="articles">{{"all_articles" | translate | capitalize}}</div>
    </div>

</div>