<div ng-repeat="habit in habits">
    <div class="item range">
        <img ng-src="{{'content/habits/' + habit.meta.icon + '/' + habit.value + '.png'}}" class="icon-image">
        <input type="range" name="{{habit.meta.title}}" min="0" max="7" steps="7"  ng-model="habit.value">
        <i>{{habit.value}}</i>
    </div>
</div>