<div class="card padding" ng-controller="RecipeSelectCtrl" ng-click="onClick()">

    <div class="showcase-1" ng-hide="recipe != null">
        <img src="http://i.imgur.com/s2ZNe1M.png">
        <h1>{{"recipe_select.title" | translate | capitalize}}</h1>
        <h2>{{"recipe_select.subtitle" | translate | capitalize}}</h2>
    </div>

    <div class="showcase-2 padding" ng-hide="recipe == null">
        <h2>{{"today_i_am_eating" | translate}}</h2>
        <h1>{{recipe.title}}</h1>
        <div class="padding-top item-image text-center">
            <img ng-src="{{recipe.image}}">
        </div>
    </div>

</div>