<div ng-controller="StatisticsCtrl" class="card">

    <div class="padding">
        <div class="title">
            <h1>{{"statistics.statistics" | translate | capitalize}}</h1>
        </div>
    </div>

    <div>

        <a class="item item-avatar item-avatar-big item-icon-left"
           href="#"
           ng-repeat="statistic in statistics"
           ui-sref="statistic({meta_id: {{statistic.meta_id}}})"
           nav-direction="forward">
            <img ng-src="{{statistic.selected_unit.icon}}">
            <div>
                <b>
                    <pluralize count="statistic.selected_unit.getUpdatedValue()"
                                  none="statistic.selected_unit.title_zero"
                                  single="statistic.selected_unit.title_single"
                                  plural="statistic.selected_unit.title_plural"></pluralize>
                </b>
                {{statistic.meta.postfix}}
            </div>
            <progress-bar percentage="statistic.selected_unit.getUpdatedProgress()">
                {{statistic.selected_unit.getTimeLeft()}}
            </progress-bar>
        </a>

    </div>

    <div class="padding-horizontal">
        <div class="button button-block button-important" ui-sref="habits" ng-controller="HabitCategoryCtrl">
            {{"you_are_a" | translate | capitalize}}
            <b>{{getHabitCategoryTitle() | capitalize}}</b>
        </div>
    </div>

</div>