<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Veggi App</title>

    <meta property="og:image" content="http://i.imgur.com/LNDDDre.png"/>
    <link rel="shortcut icon" href="content/favicon.ico" type="image/x-icon">
    <link rel="icon" href="content/favicon.ico" type="image/x-icon">

    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-translate.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- settings -->
    <script src="js/settings.js"></script>

    <!-- localizations -->
    <script src="localization/dutch.js"></script>

    <!--helpers -->
    <script src="js/helpers/jshelper.js"></script>

    <!-- app -->
    <script src="js/app.js"></script>

    <!-- services -->
    <script src="js/services/localStorage.js"></script>
    <script src="js/services/veggiData.js"></script>
    <script src="js/services/userData.js"></script>
    <script src="js/services/dailyArticle.js"></script>
    <script src="js/services/scopeInterval.js"></script>

    <!-- directives -->
    <script src="js/directives/pluralize.js"></script>
    <script src="js/directives/page.js"></script>
    <script src="js/directives/progress-bar.js"></script>
    <script src="js/directives/recipe-item.js"></script>
    <script src="js/directives/accordion.js"></script>
    <script src="js/directives/prevent-drag.js"></script>

    <!-- controllers -->
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/controllers/intro.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/dailyArticle.js"></script>
    <script src="js/controllers/article.js"></script>
    <script src="js/controllers/articles.js"></script>
    <script src="js/controllers/recipe.js"></script>
    <script src="js/controllers/recipes.js"></script>
    <script src="js/controllers/recipeSelect.js"></script>
    <script src="js/controllers/statistics.js"></script>
    <script src="js/controllers/statistic.js"></script>
    <script src="js/controllers/habits.js"></script>
    <script src="js/controllers/habitCategory.js"></script>
    <script src="js/controllers/settings.js"></script>
    <script src="js/controllers/sideMenu.js"></script>

    <!-- filters -->
    <script src="js/filters/capitalize.js"></script>
    <script src="js/filters/floor.js"></script>

  </head>
  <body ng-app="vegan-app" ng-controller="AppCtrl">

    <div class="bar bar-header bar-balanced">
      <button class="button icon ion-navicon-round" ng-click="openMenu()" ng-hide="hideMenuButton"></button>
      <h1 class="title">
        <img src="http://i.imgur.com/nW3qyHl.png" />
        {{"app_name" | translate}}
      </h1>
      <button class="button icon ion-android-arrow-back" ng-click="goBack()" ng-hide="isBackButtonHidden()"></button>
    </div>

    <ion-side-menus>
      <ion-side-menu-content drag-content="false">
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left" class="has-header">
        <div ng-include="'html/includes/side-menu.html'"></div>
      </ion-side-menu>
    </ion-side-menus>

  </body>
</html>