$color-accordion-title-background: #F5D9B0;
$color-accordion-title: #C2612D;
$color-accordion-item-background: rgba(255, 242, 224, 1);
$color-accordion-item-odd-background: #FFF;
$color-accordion-item-active-background: darken($color-accordion-item-background, 10);

accordion.card {
  .item.item-divider {
    background-color: $color-accordion-title-background;
    border: none;
    box-shadow: 5px 5px 0px 0px desaturate(darken($color-accordion-title-background, 20), 30);
    margin-bottom: 5px;
    border-radius: 0;
    text-align: center;
    padding:2px;
  }
  .item.item-divider h1 {
    color: $color-accordion-title;
    font-size: $font-size-medium-large;
  }

  .list {
    margin: 0px 5px;
    border: $border;
    border-top: none;
  }
  .list .item {
    background: $color-accordion-item-background;
    border:none;
    padding:5px 10px;
    color: $color-text;
    font-weight: bold;
  }
  .list .item:nth-child(odd) {
    background: $color-accordion-item-odd-background;
  }
  .list a.item.activated, .card .list a.item:active {
    background: $color-accordion-item-active-background;
  }
}