.bar.bar-balanced  {
  background-color: $color-bar-header-background;
  background-image: linear-gradient(0deg, $color-bar-header-background, $color-bar-header-background 50%, transparent 50%);
  color: $color-bar-header;
}

.bar-header {
  border:none;

  .title img {
    height: 90%;
    margin-bottom: -4px;
  }

  .button {
    border: none;
    border-radius: 0;
    background-color: $color-bar-header-button-background;
    box-shadow: 2px 2px 0px 0px darken($color-bar-header-button-background, 15);

    &.activated, &:active {
      background-color: darken($color-bar-header-button-background, 10);
      border:none;
      box-shadow: 1px 1px 0px 0px darken($color-bar-header-button-background, 15) !important;
    }
  }

}