$color-button-background: #F8F8F8;
$color-button: #111;

$color-button-positive-background: #c3d653;
$color-button-positive: #666634;

$color-button-assertive-background: #c2612d;
$color-button-assertive: #f5d9b0;

$color-button-important-background: #F5D9B0;
$color-button-important: #855335;


.button {
  @include button-shadow($color-button-background, 10);

  border: none;
  border-radius: 0;
  font-family: 'title-font';
  font-size: $font-size-medium-large;
  color: $color-button;
  background: $color-button-background;

  padding-top:4px;

  &.button-positive {
    @include button-shadow($color-button-positive-background, 25);
    background: $color-button-positive-background;
    color: $color-button-positive;
  }

  &.button-assertive {
    @include button-shadow($color-button-assertive-background, 15);
    background: $color-button-assertive-background;
    color: $color-button-assertive;
  }

  &.button-important {
    @include button-shadow($color-button-important-background, 15);
    background: $color-button-important-background;
    color: $color-button-important;
    font-weight: bold;
  }

  &:active, &.activated {

    color: darken($color-button, 10);
    background: darken($color-button-background, 5);

    &.button-positive {
      color: darken($color-button-positive, 15);
      background: darken($color-button-positive-background, 15);
    }

    &.button-assertive {
      color: darken($color-button-assertive, 7);
      background: darken($color-button-assertive-background, 7);
    }

    &.button-important {
      color: darken($color-button-important, 7);
      background: darken($color-button-important-background, 7);
    }

  }

}

.button-bar {
  border-radius: 0;

  .button, .button:first-child, .button:last-child {
    border-radius: 0;
    margin:5px;
  }

}