.card {
  border-radius: 0px;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.2);
}

.card h1 {
  font-size: $font-size-medium;
  font-weight: bold;
  padding-top:5px;
}

.card h2 {
  font-size: $font-size-medium;
}

.card .title {
  text-align: center;
  border-bottom: $border;
}

.card .item {
  border-radius: 0;
  &:first-child{
    border-radius: 0;
  }
  &:last-child{
    border-radius: 0;
  }
}