/* global */
$color-background: #bfd63a;

/* progress-bar */
$progress-background: #fff2e0;
$progress-fill-background: #baca36;

/* header bar */
$color-bar-header-background: #666634;
$color-bar-header: #f5d9b0;
$color-bar-header-button-background: #e6b540;

/* borders */
$border-color: #BACA36;
$border: 1px dashed $border-color;
$border-image: 1px dashed $border-color;

@mixin button-shadow($background-color, $darken) {
  box-shadow: 4px 4px 0px 0px darken($background-color, $darken);
  &:active, &.activated {
    box-shadow: 3px 3px 0px 0px darken($background-color, $darken + 1) !important;
  }
}

.pane {
  background: $color-background;
}