@font-face {
  font-family: 'title-font';
  src: url(../fonts/title-font.otf);
}

@font-face {
  font-family: 'normal-text';
  src: url(../fonts/normal-text/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: 'normal-text';
  src: url(../fonts/normal-text/JosefinSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'normal-text';
  src: url(../fonts/normal-text/JosefinSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'normal-text';
  src: url(../fonts/normal-text/JosefinSans-SemiBoldItalic.ttf);
  font-style: italic;
}