.item {
  border-radius: 0;
  border:none;
}

.item.item-avatar-small {
  min-height: 0;
  padding-left: 62px;
}
.item.item-avatar-small img {
  top:11px;
  width:32px;
  height:32px;
}

.item.item-avatar-big {
  padding-left: 80px;
}
.item.item-avatar-big img {
  top: 16px;
  width:50px;
  height:50px;
  max-width: 50px;
  max-height: 50px;
}


.item.item-stack {
  width:25%;
  display: inline-block;
  text-align: center;
  border:none;
  padding:5px 0px;

  &, &:first-child, &:last-child {
    border-radius: 2px;
  }
}

.item.selected {
  background: rgba(0, 0, 0, .1);
}

img.icon-image {
  width:50px;
  height:50px;
}

.item.item-balanced {
  color: $color-text;
  background-color:#FFF;
}

.item.item-input {
  background: #fff2e0;
  padding:5px 10px;
  margin:5px 0px;

  input {
    font-size:$font-size-normal;
    font-weight: bold;
    color:$color-text;
    font-family: 'normal-text';
  }
}