.item-divider {
  background:#c3d653;
  border-radius: 0;
  margin-bottom: 3px;
  box-shadow: 4px 4px 0px 0px darken(#c3d653, 20);
}

.list {

  margin:0px 5px;
  border:$border;

  .item.list-item {

    background: #fff2e0;

    &:nth-child(odd){
      background: #FFF;
    }

    &.item-avatar-small {
      padding:8px 10px 8px 60px;
      h2, .h2 {
        font-size: $font-size-normal;
      }
      p {
        font-size: $font-size-small;
      }
    }

    h2, .h2 {
      text-align: left;
      padding:0;
      color: #C2612D;
    }

    p {
      color: $color-text;
      font-weight: normal;
    }

    &.selected {
      background:#666634;

      h2, .h2 {
        color: #f5d9b0;
      }

      p {
        color: #baca36;
      }

    }

  }

}