progress-bar {

  .container {
    background: $progress-background;
    height:25px;
    padding:2px;
    text-align: center;
    color:rgba(0,0,0,.5);
  }

  .filler {
    background: $progress-fill-background;
    height:100%;
  }

  .overlay {
    margin-top:-25px;
    padding-top:5px;
    font-weight: normal;
  }

}