.showcase {
  text-align: center;
  border: $border;
}

.showcase h1, .showcase h2 {
  padding:0;
  margin:0;
}

.showcase h1 {
  font-size: $font-size-large;
}

.showcase h2 {
  font-size: $font-size-medium;
  font-weight: normal;
}

.showcase-1 {
  @extend .showcase;

  padding-top:10px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-image: url(http://i.imgur.com/vtODB4V.png),
                    url(http://i.imgur.com/vnpgEjN.png),
                    url(http://i.imgur.com/jsW1RxC.png),
                    url(http://i.imgur.com/oNSpsBv.png);
  background-size: 30px;
  background-position: left top, right top, right bottom, left bottom;
}

.showcase-1 img {
  width:50%;
}

.showcase-2 {
  @extend .showcase;
}

.showcase-2 h1 {
  font-size: $font-size-extra-large;

  background-repeat: no-repeat;
  background-image: url(http://i.imgur.com/vtODB4V.png),
                    url(http://i.imgur.com/vnpgEjN.png);
  background-size: 30px;
  background-position: left center, right center;
}