.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 20px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-weight: 300;
}

.slider.has-header {
  top:0;
  padding-top: 44px;
}

.slider {

  img.cover {
    border: $border-image;
    width: 80%;
    bottom: 55px;
    left: 10%;
    position: absolute;
  }

  h1::after {
    content: '';
    display: block;
    height: 40px;
    background: url(http://i.imgur.com/Xsu2g52.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

}