$font-size-extra-large: 28pt;
$font-size-large: 24pt;
$font-size-medium-large: 18pt;
$font-size-medium: 14pt;
$font-size-normal: 12pt;
$font-size-small: 10pt;

$color-header: #E6A34A;
$color-header-sub: #67730D;
$color-text-special: #C2612D;

$color-text: #54541A;
$color-url: #C2612D;

* {
  font-family: 'normal-text';
  font-size: $font-size-normal;
  color: $color-text;
}

h1, .h1 {
  color: $color-header;
  font-family: 'title-font';
  letter-spacing: 1.5px;
  font-weight: bold;
}

h2, .h2 {
  text-align: center;
  color: $color-header-sub;
  font-size: $font-size-medium;
  font-family: 'normal-text';
  font-weight: bold;
  margin:0;
  padding:10px 0
}

h3, .h3 {
  text-align: center;
  color: $color-text-special;
  font-size: $font-size-medium-large;
  font-family: 'title-font';
  letter-spacing: 1.5px;
  font-weight: bold;
  margin:0;
  padding:10px 0px;

  &.large {
    font-size: $font-size-large;
  }
}

h4, .h4 {
  text-align: center;
  color: $border-color;
  font-size: $font-size-normal;
  font-family: 'normal-text';
  margin:0;
}

h5, .h5 {
  text-align: center;
  color: $color-header-sub;
  font-family: 'title-font';
  font-size:$font-size-medium-large;
  margin:0;
}

.line-separator {
  height:1px;
  margin: 15px 0px;
  border-bottom:$border;
  text-align: center;
  &.special:after {
    margin-top: -20px;
    width:40px;
    height:31px;
    background:url(http://i.imgur.com/KOANLBa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateY(180deg);
    content: ' ';
    display: inline-block;
  }
  &.special.flipped {
    &:after {
      transform: rotateY(0deg);
    }
  }
}

li {
  padding:3px 10px 3px 20px;
}

a {
  color: $color-url;
  font-weight: bold;
  font-family: 'normal-text';
  &:active, &.activated {
    color: darken($color-url, 20);
  }
}

p {
  color: $color-text;
  font-family: 'normal-text';
}

.bar h1.title {
  font-size: 23pt;
}

.scroll-bar-indicator {
  display: none;
}