<div ng-class="barClass">
    <div class="container">
        <div class="filler" style="width: {{percentage}}%;"></div>
        <div class="overlay text-center" ng-transclude="transclude"></div>
    </div>
</div>