<a class="item list-item item-avatar item-avatar-small" href="#" ng-class="{'selected': recipe_data.is_selected}"
   ui-sref="recipe({id: {{recipe_data.recipe.id}}})" nav-direction="forward">
    <img ng-src="{{recipe_data.recipe.image}}">
    <h2>{{recipe_data.recipe.title | capitalize}}</h2>


    <div ng-show="recipe_data.recipe.status" class="assertive">{{recipe_data.recipe.status | capitalize}}</div>

    <p ng-show="recipe_data.recipe.status" class="assertive">
        {{recipe_data.recipe.status}}
    </p>
    <p ng-show="!recipe_data.recipe.status && !recipe_data.is_selected">
        {{recipe_data.recipe.description | capitalize}}
        <span ng-show="recipe_data.recipe.is_vegan">({{"vegan" | translate}})</span>
    </p>
    <p ng-show="!recipe_data.recipe.status && recipe_data.is_selected">
        Geselecteerd!
    </p>
</a>